<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
 <listener>
	<listener-class>de.kuei.metafora.server.home.xmpp.XMPPListener</listener-class>
  </listener>
   
  <servlet>
    <servlet-name>userlink</servlet-name>
    <servlet-class>de.kuei.metafora.server.home.UserLinkImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userlink</servlet-name>
    <url-pattern>/home/userlink</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>help</servlet-name>
    <servlet-class>de.kuei.metafora.server.home.HelpService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>help</servlet-name>
    <url-pattern>/home/help</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>session</servlet-name>
    <servlet-class>de.kuei.metafora.server.home.SessionLinkImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>session</servlet-name>
    <url-pattern>/home/session</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>chat</servlet-name>
    <servlet-class>de.kuei.metafora.server.home.ChatServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>chat</servlet-name>
    <url-pattern>/home/chat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>feedback</servlet-name>
    <servlet-class>de.kuei.metafora.server.home.FeedbackServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/home/feedback</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>loginservice</servlet-name>
    <servlet-class>de.kuei.metafora.server.home.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginservice</servlet-name>
    <url-pattern>/home/loginservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>EventService</servlet-name>
		<servlet-class>de.novanic.eventservice.service.EventServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EventService</servlet-name>
		<url-pattern>/home/gwteventservice</url-pattern>
	</servlet-mapping>
  
   <servlet>
    <servlet-name>usergroup</servlet-name>
    <servlet-class>de.kuei.metafora.server.home.UserGroupServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>usergroup</servlet-name>
    <url-pattern>/home/usergroup</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>startup_servlet</servlet-name>
	<servlet-class>de.kuei.metafora.server.home.StartupServlet</servlet-class>
	<load-on-startup>3</load-on-startup>
  </servlet>
  
    <!-- remote logging -->
  <servlet>
    <servlet-name>remoteLogging</servlet-name>
    <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>remoteLogging</servlet-name>
    <url-pattern>/home/remote_logging</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>

</web-app>
